@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: url("https://images.ctfassets.net/hrltx12pl8hq/1fR5Y7KaK9puRmCDaIof7j/09e2b2b9eaf42d450aba695056793607/vector1.jpg"); */
  
  background-image: url("https://images.pexels.com/photos/2734519/pexels-photo-2734519.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");

  aspect-ratio: 3/1.4;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

.glass-card  {
  backdrop-filter : blur(9px);
  background: transparent;
  background-color: #ffffff30;
  border: none;
  box-shadow: 0px 5px 5px #0000005f;
}